@charset "utf-8";

html,
body {
    height: 100%;
}

.form-signin {
    max-width: 500px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-floating > label{
    font-size: 0.9rem;
    text-indent: -99999px;
}

.innut_id, .input_pw{
    width: 100%;
    padding: 1rem !important;
    height: auto !important;
    border: 1px solid #e3e6e9;
}
a{
    font-size: var(--bs-body-font-size);
}
